node_modules
.env
coverage
coverage.json
typechain
typechain-types
artifacts
cache
ignition/deployments
junit.xml
test-results.xml
npm-debug.log
yarn-error.log
.DS_Store
.env.example
.vscode/
.idea/      
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?